name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  prettier-frontend:
    name: Prettier check (frontend)
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: frontend/package-lock.json

      - name: Install deps
        run: npm install

      - name: Prettier check
        run: npx prettier --write .

  prettier-backend:
    name: Prettier check (services)
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service:
          - user-service
          - restaurant-service
          - order-service
          - payment-service
          - delivery-service
          - notification-service
          - gateway
    defaults:
      run:
        working-directory: services/${{ matrix.service }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: services/${{ matrix.service }}/package-lock.json

      - name: Install deps
        run: npm install

      - name: Prettier check
        run: npx prettier --write .

